.najm__header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 53px  15%;
    gap: 32px  57px;
}
.najm__header-content-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8C8C8C;
    background: #FBFBFB;
    position: relative;

}
.najm__header-content-card img{
   
    width: 20px;
    height: 19.003px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8C8C8C;
    padding: 2px;
    position: absolute;
    top:31px;


}

.najm__header-content-card p{
   
    color: rgba(0, 0, 0, 0.87);
    font-family: Tajawal;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
   top: 67px;
    text-align: center;
    display: flex;
    width: 125px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}